.container_12{
	bottom: 200px;
	background-color: red;
}
nav li{
	display: inline;
}
header{
	
	float:left;
	width:100%;
	}
ul{
		float: right;
	}
ul a{
	color:black;
	text-decoration: none;

}
ul a:hover{
    text-decoration: underline;
	color:blue;
}

#foo{
	background-color:#ffcccc;font-size:20px;font-family: 'Baloo Bhaina', cursive;
}
#foo1{
	 background-color:#00bfff;font-family: 'Baloo Bhaina', cursive;
}
#foo2{
	background-color:#dcdcdc;font-family: 'Baloo Bhaina', cursive;
}
#head{
	float:left;width:100%;background-color:#add8e6;font-size:15px;font-family: 'Bungee Inline', cursive;
}
i{
	 font-size:36px;
}